* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins ;
    position: relative;
    margin: 10px;
    line-height: 1.5rem;
}

.join {
    position: absolute;
    right: 320px;
    width: 90px;
    height: 40px;
    color: rgb(0 0 0 / 60%);
    font-size: 18px;
    display: inline-block;
    border: none;
    background-color:#fff;
    outline-width: 2px;
    cursor: pointer;
    z-index: 1000000001;
}
.join:hover {
    border-radius: 5px;
    border-color: #669cbc;
    border-radius: 5px solid;
    background:#e1e5ea;
    text-decoration: none;
}

.signup {
    position: absolute;
    right: 200px;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    color: #0a66c2;
    background-color:#fff;
    font-size: 16px;
    border-color: #0a66c2;
    cursor: pointer;
    z-index: 1000000001;
}

.signup:hover{
   overflow: hidden;
   background-color:#e1e5ea;
   text-decoration: none;
}
.main {
    position: relative;
    top: 500;
    width: 100%;
    background-color: #fff;
    z-index: 1000001;
}

#tittle {
    position: absolute;
    left: 150px;
    color: #0a66c2;
    font-weight: 900;
    font-family: Arial;
    font-size:30px;
    text-decoration: capitalize;
    font-weight: bold;
    cursor: pointer;
}
#icon {
    font-size:40px;
    margin-left: 5px;
    cursor: pointer;
}
#tittle:hover {
    opacity: none;
}

h1 {
    position: absolute;
    left: 150px;
    top: 100px;
    letter-spacing: 2px;
    color: #0a66c2;
    font-family: Arial;
    font-size: 50px;
    font-weight: lighter;
    z-index: 1000000001;
}

#field {
    position: absolute;
    left: 150px;
    top: 250px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    box-sizing: 10px 10px 10px 10px;
    background-color: #f8f5f1;
    border: 1px solid grey;
    font-weight: 400;
    font-size: 24px;
    text-align: start;
    padding: 20px;
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
    box-shadow: #f8f5f1;
}
 #field1 {
    position: absolute;
    left: 150px;
    top: 350px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    box-sizing: 10px 10px 10px 10px;
    background-color: #f8f5f1;
    border: 1px solid grey;
    font-weight: 400;
    font-size: 24px;
    text-align: start;
    padding: 20px;
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
    box-shadow: #f8f5f1;
}
#field2 {
    position: absolute;
    left: 150px;
    top: 450px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    box-sizing: 10px 10px 10px 10px;
    background-color: #f8f5f1;
    border: 1px solid grey;
    font-weight: 400;
    font-size: 24px;
    text-align: start;
    padding: 20px;
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
    box-shadow: #f8f5f1;
}

#icon1 {
    position: absolute;
    font-size: 45px;
    left: 400px;
    font-weight: lighter;
    color: rgb(0 0 0 / 60%);
    text-align: center;

}

#field:hover{
    box-sizing: 10px 10px 10px 10px;
    color: rgb(0 0 0 / 60%);
    background-color:#fff;
    box-shadow: #f8f5f1;
}
#field1:hover{
    box-sizing: 10px 10px 10px 10px;
    color: rgb(0 0 0 / 60%);
    background-color:#fff;
    box-shadow: #f8f5f1;
}
#field2:hover{
    box-sizing: 10px 10px 10px 10px;
    color: rgb(0 0 0 / 60%);
    background-color:#fff;
    box-shadow: #f8f5f1;
}
#field #one {
    position: absolute;
    top: 350px;
}

img {
    position: absolute;
    right: 30px;
    top: 28px;
    width: 770px;
    height: 600px;
}

.search h2 {
    position: absolute;
    left: 150px;
    top: 800px;
    letter-spacing: 2px;
    color: #191818;
    font-family: Arial;
    font-size: 40px;
    font-weight: lighter;
}

.areas p {
    position: absolute;
    left: 600px;
    top: 800px;
}
 button {
    position: absolute;
    font-size: 18px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.find .btn1 {
    left: 600px;
    top: 840px;
    width: 120px;
    border-radius: 60px;
}
.find .btn2 {
    left: 730px;
    top: 840px;
    width: 220px;
    border-radius: 110px; 
}
.find .btn3 {
    left: 960px;
    top: 840px;
    width: 108px;
    border-radius: 60px; 
}

.find .btn4 {
    left: 600px;
    top: 900px;
    width: 220px;
    border-radius: 110px;  
}
.find .btn5 {
    left: 830px;
    top: 900px;
    width: 170px;
    border-radius: 85px; 
}
.find .btn6 {
    left: 600px;
    top: 960px;
    width: 180px;
    border-radius: 90px; 
}
.find .btn7 {
    position: absolute;
    left: 795px;
    top: 960px;
    width: 120px;
    border-radius: 60px; 
}
.find .btn8 {
    position: absolute;
    left: 928px;
    top: 960px;
    width: 220px;
    border-radius: 150px; 
}
.find .btn9 {
    position: absolute;
    left: 600px;
    top: 1020px;
    width: 110px;
    border-radius: 100px; 
}

.find .btn10 {
    left: 739px;
    top: 1020px;
    width: 190px;
    border-radius: 80px; 
}
 #btn {
    position: absolute;
    left: 600px;
    top: 1090px;
    width: 150px;
    border: none;
    background: none;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}
#icon2{
    font-size: 20px;
}
p {
    font-family: Arial;
}
button:hover{
    text-decoration: underline;
    background-color:  #ddd;
    color: black;
}
  #btn:hover {
    text-decoration: none;
}

.postjob {
    position: relative;
    top: 1200px;
    max-width: 100%;
    height: 230px;
    background-color: #f1ece5;
    margin: 0;
    padding: 0;
}

.postjob h2 {
    position: absolute;
    left: 150px;
    top: 75px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-family: sans-serif;
    color: #B24020;
    font-weight: 400;
    font-size: 36px;
    font-weight: lighter;
}

.btn {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 130px;
    background-color: #f1ece5;
    height: 55px;
    border-radius: 80px;
}
.testimonial {
    position: relative;
    top: 1200px;
    width: 100%;
    height: 600px;
    background-color:#fcfefe;
}

.testimonial a {
     position: absolute;
     font-size: 20px;
     top: 120px; 
     text-decoration: none;
     color: rgb(0 0 0 / 60%);
     display: inline-block;
     padding: 8px 16px;
}
.testimonial .next {
        left: 285px;
}

.testimonial .previous {
        left: 150px;
}
.testimonial a:hover {
    background-color: #ddd;
    color: black;
}

.testimonial h2 {
    position: absolute;
    left: 150px;
    top: 250px;
    color: #0a66c2;
    font-weight: 400;
    font-size: 36px;
    font-weight: lighter;
    line-height: 45px;
    font-family: sans-serif;
  
}
.testimonial p {
    position: absolute;
    left: 150px;
    top: 350px;
    font-size: 28px;
    font-weight: lighter;
    line-height: 45px;
    font-family: Arial;
    z-index: 100010;
}
 #page {
    position: absolute;
    right: 220px;
    top: 80px;
    width: 550px;
    height: 500px;
    display: transparent;
}

.people {
    position: relative;
    top: 1200px;
    width: 100%;
    background:#ffffff;
    height: 2200px;
}
#twopeople {
    position: absolute;
    left: 150px;
    width: 450px;
    height: auto;
    top: 80px;
}
#text1 {
    position: absolute;
    left: 150px;
    top: 450px;
    color: black;
    font-weight: lighter;
    line-height: 50px;
    font-size: 45px;
}

#btnone{
    position: absolute;
    left: 150px;
    top: 600px;
    width: 250px;
    border-radius: 150px;
    padding: 10px;
    font-family: sans-serif;
}
#lady {
    position: absolute;
    right: 350px;
    width: 450px;
    height: auto;
    top: 80px;
}
#text2 {
    position: absolute;
    left: 800px;
    top: 450px;
    color: black;
    font-weight: lighter;
    line-height: 50px;
    font-size: 45px;
}
#select {
    position: absolute;
    right: 370px;
    top: 600px;
    width: 325px;
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    
}

#select:hoover {
    background-color:  #ddd;
    color: black;
}
.send {
    position: absolute;
    right: 0px;
    top: 800px;
    width: 900px;
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
    height: 600px;
    background: #ecf2f9;
}
.send h2 {
    position: absolute;
    top: 200px;
    right: 350px;
    color: #B24020;
    font-size: 40px;
    font-family: Arial;
    font-weight: lighter
}
.send p {
    position: absolute;
    top: 240px;
    right: 170px;
    font-size: 36px;
    font-family: Arial;
    font-weight: lighter;
    line-height: 50px;
    color: rgb(0 0 0 / 60%);
}

iframe {
    position: absolute;
    width: 564px;
    height: 378px;
    left: 210px;
    top: 950px;
}
.cover {
    position: absolute;
    height: 1500px;
    width: 100%;
    background: #ecf2f9;
    top: 1450px;
}
.cover #cover{
    position: absolute;
    top: 280px;
    width:100%;
    height: 668px;
    right:0;
}
.cover h2{
    position: absolute;
    z-index: 1000000001;
    top: 80px;
    left: 150px;
    color: #0a66c2;
    font-size: 55px;
    font-family: Arial;
    font-weight: lighter;
    line-height: 35px;
}
.cover #last {
    position: absolute;
    z-index: 1000000001;
    top: 230px;
    left: 170px;
    background-color: #0a66c2;
    font-size: 18px;
    font-family: Arial;
    border-radius: 100px;
    width: 150px;
    height: 60px;
    color:#fff;
    cursor: pointer;
}

.cover #last:hover{
    opacity: 0.9;
    background-color: #163172;
    color:#fff
}

.down {
    position: absolute;
    background:#f6f6f6;
    width: 100%;
    top: 2500px;
    height: 450px;
}


.list1{
    position: absolute;
    left: 400px;
    top: 65px;
}
.list2{
    position: absolute;
    left: 650px;
    top: 65px;
}
.list3{
    position: absolute;
    left: 850px;
    top: 65px;
}
.list4{
    position: absolute;
    left: 1100px;
    top: 65px;
}
#list{
    position: absolute;
    left: 200px;
    top: 35px;
    color: #0a66c2;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;

}
#list5{
    position: absolute;
    left: 200px;
    top: 20px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}
#list1{
    position: absolute;
    left: 400px;
    top: 35px;
    font-size: 18px;
    color: rgb(0 0 0 / 60%);
    font-weight: 400;
    font-weight: bold;
}
#list2{
    position: absolute;
    left: 650px;
    top: 35px;
    font-size: 18px;
    color: rgb(0 0 0 / 60%);
    font-weight: 400;
    font-weight: bold;
}
#list3{
    position: absolute;
    left: 850px;
    top: 35px;
    font-size: 18px;
    color: rgb(0 0 0 / 60%);
    font-weight: 400;
    font-weight: bold;
}
#list4{
    position: absolute;
    left: 1100px;
    top: 35px;
    font-size: 18px;
    color: rgb(0 0 0 / 60%);
    font-weight: 400;
    font-weight: bold;
}
 
.footer{
    position: relative;
    width: 100%;
    background: #ffffff;
    top: 450px;
    height: 50px;
    font-size: 14px;
}
ul li {
     list-style: none;
     cursor: pointer;
     
}
ul li:hover{
    color: #0a66c2;
    text-decoration: underline;
}
.foot{
    position: absolute;
    left: 300px;
    top: 20px;
    font-size: 14px;
}
.foot1{
    position: absolute;
    left: 350px;
    top: 20px;
    
}
.foot2{
    position: absolute;
    left: 400px;
    top: 20px;
   
}
.foot3{
    position: absolute;
    left: 490px;
    top: 20px;
}
.foot4{
    position: absolute;
    top: 20px;
    right:820px
    
}
.foot5{
    position: absolute;
    right: 725px;
    top: 20px;
}
.foot6{
    position: absolute;
    right: 610px;
    top: 20px;
}
.foot7{
    position: absolute;
    right: 520px;
    top: 20px;
}
.foot8{
    position: absolute;
    right: 420px;
    top: 20px;
}
.foot9{
    position: absolute;
    right: 270px;
    top: 20px;
}
.foot10{
    position: absolute;
    right: 200px;
    top: 20px;
}


a {
    color: rgb(0 0 0 / 60%);
    font-size: 14px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #0a66c2;
}

@media only screen and (max-width: 600px) {
    .people .testimonial .container {
      width: 500px;
    }
  }